[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=mangasfx
X-Python-2-Compatible=false
Name=SFX Helper
Comment=Schnelles Setzen von Manga-SFX mit Outline (Vektor-Ebene) + Font-Vorschläge
